<?xml version="1.0"?>

<model>
  <name>TC6 Big Target 1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Arif Rahman</name>
    <email>Optional: marif.abdrahman@petronas.com.my</email>
  </author>

  <description>
    A model of the big target for TC6 drone competition. 
  </description>

</model>
